# Local Environment variables (contains secure merchant keys)
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Vercel deployment folder
.vercel/

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
